In [1]:
import pandas as pd

In [2]:
# Interpolate missing values with method="time" and limit_direction="both"
UK_df = pd.read_csv("Resources/individual_country_missing/1_UnitedKingdom.csv", parse_dates=["year"])
UK_df.set_index("year", inplace=True)
UK_df

# type(UK_df.year[0])

,year_id,countries,country_id,regions,region_id,capital,latitude,longitude,fdi_in_usa_million,globalization_100,gdp_per_capita_usd,fdi_by_usa_million,stock_market_capitalization_gdp,government_effectiveness,rule_of_law
year,,,,,,,,,,,,,,,
1982-01-01,1,United Kingdom,1,Europe,1,London,51.5085,-0.1257,28447,78.0,9146.077357,27537,38.1034,NaN,NaN
1983-01-01,2,United Kingdom,1,Europe,1,London,51.5085,-0.1257,32152,78.0,8691.518813,28086,46.1251,NaN,NaN
1984-01-01,3,United Kingdom,1,Europe,1,London,51.5085,-0.1257,38387,78.0,8179.194441,29265,51.2264,NaN,NaN
1985-01-01,4,United Kingdom,1,Europe,1,London,51.5085,-0.1257,43555,78.0,8652.216542,34066,72.2432,NaN,NaN
1986-01-01,5,United Kingdom,1,Europe,1,London,51.5085,-0.1257,55935,78.0,10611.112210,36974,78.6257,NaN,NaN
1987-01-01,6,United Kingdom,1,Europe,1,London,51.5085,-0.1257,75519,79.0,13118.586530,46489,91.2165,NaN,NaN
1988-01-01,7,United Kingdom,1,Europe,1,London,51.5085,-0.1257,95698,78.0,15987.168080,51734,78.1793,NaN,NaN
1989-01-01,8,United Kingdom,1,Europe,1,London,51.5085,-0.1257,103458,78.0,16239.282200,67722,87.8556,NaN,NaN
1990-01-01,9,United Kingdom,1,Europe,1,London,51.5085,-0.1257,98676,78.0,19095.467000,72707,77.7416,NaN,NaN
1991-01-01,10,United Kingdom,1,Europe,1,London,51.5085,-0.1257,100085,79.0,19900.726650,79819,86.6224,NaN,NaN
1992-01-01,11,United Kingdom,1,Europe,1,London,51.5085,-0.1257,86587,80.0,20487.170790,85176,80.9456,NaN,NaN
1993-01-01,12,United Kingdom,1,Europe,1,London,51.5085,-0.1257,98739,81.0,18389.019570,109208,108.3753,NaN,NaN
1994-01-01,13,United Kingdom,1,Europe,1,London,51.5085,-0.1257,98732,82.0,19709.238100,100817,100.2490,NaN,NaN
1995-01-01,14,United Kingdom,1,Europe,1,London,51.5085,-0.1257,116272,82.0,23123.177790,106332,99.1318,NaN,NaN
1996-01-01,15,United Kingdom,1,Europe,1,London,51.5085,-0.1257,121582,82.0,24332.697770,134559,120.9042,1.88,1.63
1997-01-01,16,United Kingdom,1,Europe,1,London,51.5085,-0.1257,129421,82.0,26734.562610,154462,132.6583,1.91,1.70
1998-01-01,17,United Kingdom,1,Europe,1,London,51.5085,-0.1257,137489,83.0,28214.274360,183035,139.2370,1.93,1.78
1999-01-01,18,United Kingdom,1,Europe,1,London,51.5085,-0.1257,153797,84.0,28669.539690,216638,175.6310,1.89,1.74
2000-01-01,19,United Kingdom,1,Europe,1,London,51.5085,-0.1257,277613,86.0,28149.870010,230762,155.4449,1.85,1.70
2001-01-01,20,United Kingdom,1,Europe,1,London,51.5085,-0.1257,197651,86.0,27744.506460,228230,131.0475,1.84,1.69
2002-01-01,21,United Kingdom,1,Europe,1,London,51.5085,-0.1257,211699,86.0,30056.586220,247952,104.0191,1.84,1.68
2003-01-01,22,United Kingdom,1,Europe,1,London,51.5085,-0.1257,217841,87.0,34419.147910,277246,118.1588,1.81,1.70
2004-01-01,23,United Kingdom,1,Europe,1,London,51.5085,-0.1257,267209,87.0,40290.313970,330416,116.5084,1.89,1.63
2005-01-01,24,United Kingdom,1,Europe,1,London,51.5085,-0.1257,371350,87.0,42030.286610,351513,120.4635,1.77,1.57
2006-01-01,25,United Kingdom,1,Europe,1,London,51.5085,-0.1257,414629,87.0,44599.697570,406358,139.3407,1.67,1.79
2007-01-01,26,United Kingdom,1,Europe,1,London,51.5085,-0.1257,405543,88.0,50566.826600,426357,124.0441,1.65,1.74
2008-01-01,27,United Kingdom,1,Europe,1,London,51.5085,-0.1257,447529,88.0,47286.998490,448412,63.9195,1.64,1.71
2009-01-01,28,United Kingdom,1,Europe,1,London,51.5085,-0.1257,414590,88.0,38713.137430,495382,94.0055,1.51,1.74
2010-01-01,29,United Kingdom,1,Europe,1,London,51.5085,-0.1257,400435,88.0,39435.839900,501247,121.7870,1.57,1.76
2011-01-01,30,United Kingdom,1,Europe,1,London,51.5085,-0.1257,446077,89.0,42038.572250,485029,118.6890,1.56,1.65
2012-01-01,31,United Kingdom,1,Europe,1,London,51.5085,-0.1257,485785,89.0,42462.771570,537041,112.1110,1.55,1.72
2013-01-01,32,United Kingdom,1,Europe,1,London,51.5085,-0.1257,510795,89.0,43444.533000,537714,NaN,1.50,1.71
2014-01-01,33,United Kingdom,1,Europe,1,London,51.5085,-0.1257,479373,89.0,47425.607680,631666,NaN,1.63,1.89
2015-01-01,34,United Kingdom,1,Europe,1,London,51.5085,-0.1257,522954,89.0,44974.831880,632327,NaN,1.74,1.81
2016-01-01,35,United Kingdom,1,Europe,1,London,51.5085,-0.1257,505190,89.0,41064.133430,747425,NaN,1.60,1.69
2017-01-01,36,United Kingdom,1,Europe,1,London,51.5085,-0.1257,487570,90.0,40361.417380,815059,NaN,1.41,1.68
2018-01-01,37,United Kingdom,1,Europe,1,London,51.5085,-0.1257,496622,89.0,43043.227820,796564,NaN,1.34,1.64
2019-01-01,38,United Kingdom,1,Europe,1,London,51.5085,-0.1257,505088,NaN,42330.117540,851414,NaN,1.44,1.60

In [3]:
UK_df_complete = UK_df.interpolate(method="time", limit_direction="both")
UK_df_complete
# UK_df_complete.to_csv("Resources/individual_country_complete/1_UK_complete.csv")

,year_id,countries,country_id,regions,region_id,capital,latitude,longitude,fdi_in_usa_million,globalization_100,gdp_per_capita_usd,fdi_by_usa_million,stock_market_capitalization_gdp,government_effectiveness,rule_of_law
year,,,,,,,,,,,,,,,
1982-01-01,1,United Kingdom,1,Europe,1,London,51.5085,-0.1257,28447,78.0,9146.077357,27537,38.1034,1.88,1.63
1983-01-01,2,United Kingdom,1,Europe,1,London,51.5085,-0.1257,32152,78.0,8691.518813,28086,46.1251,1.88,1.63
1984-01-01,3,United Kingdom,1,Europe,1,London,51.5085,-0.1257,38387,78.0,8179.194441,29265,51.2264,1.88,1.63
1985-01-01,4,United Kingdom,1,Europe,1,London,51.5085,-0.1257,43555,78.0,8652.216542,34066,72.2432,1.88,1.63
1986-01-01,5,United Kingdom,1,Europe,1,London,51.5085,-0.1257,55935,78.0,10611.112210,36974,78.6257,1.88,1.63
1987-01-01,6,United Kingdom,1,Europe,1,London,51.5085,-0.1257,75519,79.0,13118.586530,46489,91.2165,1.88,1.63
1988-01-01,7,United Kingdom,1,Europe,1,London,51.5085,-0.1257,95698,78.0,15987.168080,51734,78.1793,1.88,1.63
1989-01-01,8,United Kingdom,1,Europe,1,London,51.5085,-0.1257,103458,78.0,16239.282200,67722,87.8556,1.88,1.63
1990-01-01,9,United Kingdom,1,Europe,1,London,51.5085,-0.1257,98676,78.0,19095.467000,72707,77.7416,1.88,1.63
1991-01-01,10,United Kingdom,1,Europe,1,London,51.5085,-0.1257,100085,79.0,19900.726650,79819,86.6224,1.88,1.63
1992-01-01,11,United Kingdom,1,Europe,1,London,51.5085,-0.1257,86587,80.0,20487.170790,85176,80.9456,1.88,1.63
1993-01-01,12,United Kingdom,1,Europe,1,London,51.5085,-0.1257,98739,81.0,18389.019570,109208,108.3753,1.88,1.63
1994-01-01,13,United Kingdom,1,Europe,1,London,51.5085,-0.1257,98732,82.0,19709.238100,100817,100.2490,1.88,1.63
1995-01-01,14,United Kingdom,1,Europe,1,London,51.5085,-0.1257,116272,82.0,23123.177790,106332,99.1318,1.88,1.63
1996-01-01,15,United Kingdom,1,Europe,1,London,51.5085,-0.1257,121582,82.0,24332.697770,134559,120.9042,1.88,1.63
1997-01-01,16,United Kingdom,1,Europe,1,London,51.5085,-0.1257,129421,82.0,26734.562610,154462,132.6583,1.91,1.70
1998-01-01,17,United Kingdom,1,Europe,1,London,51.5085,-0.1257,137489,83.0,28214.274360,183035,139.2370,1.93,1.78
1999-01-01,18,United Kingdom,1,Europe,1,London,51.5085,-0.1257,153797,84.0,28669.539690,216638,175.6310,1.89,1.74
2000-01-01,19,United Kingdom,1,Europe,1,London,51.5085,-0.1257,277613,86.0,28149.870010,230762,155.4449,1.85,1.70
2001-01-01,20,United Kingdom,1,Europe,1,London,51.5085,-0.1257,197651,86.0,27744.506460,228230,131.0475,1.84,1.69
2002-01-01,21,United Kingdom,1,Europe,1,London,51.5085,-0.1257,211699,86.0,30056.586220,247952,104.0191,1.84,1.68
2003-01-01,22,United Kingdom,1,Europe,1,London,51.5085,-0.1257,217841,87.0,34419.147910,277246,118.1588,1.81,1.70
2004-01-01,23,United Kingdom,1,Europe,1,London,51.5085,-0.1257,267209,87.0,40290.313970,330416,116.5084,1.89,1.63
2005-01-01,24,United Kingdom,1,Europe,1,London,51.5085,-0.1257,371350,87.0,42030.286610,351513,120.4635,1.77,1.57
2006-01-01,25,United Kingdom,1,Europe,1,London,51.5085,-0.1257,414629,87.0,44599.697570,406358,139.3407,1.67,1.79
2007-01-01,26,United Kingdom,1,Europe,1,London,51.5085,-0.1257,405543,88.0,50566.826600,426357,124.0441,1.65,1.74
2008-01-01,27,United Kingdom,1,Europe,1,London,51.5085,-0.1257,447529,88.0,47286.998490,448412,63.9195,1.64,1.71
2009-01-01,28,United Kingdom,1,Europe,1,London,51.5085,-0.1257,414590,88.0,38713.137430,495382,94.0055,1.51,1.74
2010-01-01,29,United Kingdom,1,Europe,1,London,51.5085,-0.1257,400435,88.0,39435.839900,501247,121.7870,1.57,1.76
2011-01-01,30,United Kingdom,1,Europe,1,London,51.5085,-0.1257,446077,89.0,42038.572250,485029,118.6890,1.56,1.65
2012-01-01,31,United Kingdom,1,Europe,1,London,51.5085,-0.1257,485785,89.0,42462.771570,537041,112.1110,1.55,1.72
2013-01-01,32,United Kingdom,1,Europe,1,London,51.5085,-0.1257,510795,89.0,43444.533000,537714,112.1110,1.50,1.71
2014-01-01,33,United Kingdom,1,Europe,1,London,51.5085,-0.1257,479373,89.0,47425.607680,631666,112.1110,1.63,1.89
2015-01-01,34,United Kingdom,1,Europe,1,London,51.5085,-0.1257,522954,89.0,44974.831880,632327,112.1110,1.74,1.81
2016-01-01,35,United Kingdom,1,Europe,1,London,51.5085,-0.1257,505190,89.0,41064.133430,747425,112.1110,1.60,1.69
2017-01-01,36,United Kingdom,1,Europe,1,London,51.5085,-0.1257,487570,90.0,40361.417380,815059,112.1110,1.41,1.68
2018-01-01,37,United Kingdom,1,Europe,1,London,51.5085,-0.1257,496622,89.0,43043.227820,796564,112.1110,1.34,1.64
2019-01-01,38,United Kingdom,1,Europe,1,London,51.5085,-0.1257,505088,89.0,42330.117540,851414,112.1110,1.44,1.60

In [4]:
Austria_df = pd.read_csv("Resources/individual_country_missing/2_Austria.csv", parse_dates=["year"])
Austria_df.set_index("year", inplace=True)
Austria_df_complete = Austria_df.interpolate(method="time", limit_direction='both')
Austria_df_complete
# Austria_df_complete.to_csv("Resources/individual_country_complete/2_Austria_complete.csv")

,year_id,countries,country_id,regions,region_id,capital,latitude,longitude,fdi_in_usa_million,globalization_100,gdp_per_capita_usd,fdi_by_usa_million,stock_market_capitalization_gdp,government_effectiveness,rule_of_law
year,,,,,,,,,,,,,,,
1982-01-01,1,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,245.0,73.0,9410.347257,562,2.1181,1.73,1.81
1983-01-01,2,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,245.0,73.0,9537.407420,548,2.1189,1.73,1.81
1984-01-01,3,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,245.0,74.0,8991.065040,534,2.1853,1.73,1.81
1985-01-01,4,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,245.0,76.0,9172.096760,509,6.6318,1.73,1.81
1986-01-01,5,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,245.0,76.0,13083.072660,736,6.7212,1.73,1.81
1987-01-01,6,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,245.0,75.0,16392.769520,711,6.3935,1.73,1.81
1988-01-01,7,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,392.0,75.0,17578.618940,697,7.5224,1.73,1.81
1989-01-01,8,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,386.0,75.0,17468.946140,962,18.2280,1.73,1.81
1990-01-01,9,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,625.0,75.0,21680.989620,1113,15.8111,1.73,1.81
1991-01-01,10,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,573.0,79.0,22410.911770,1268,13.9429,1.73,1.81
1992-01-01,11,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,583.0,79.0,24880.164120,1371,10.1240,1.73,1.81
1993-01-01,12,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,638.0,80.0,24081.527790,1312,13.7820,1.73,1.81
1994-01-01,13,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,769.0,80.0,25646.700660,2197,14.1596,1.73,1.81
1995-01-01,14,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,1553.0,81.0,30325.849580,2829,12.7023,1.73,1.81
1996-01-01,15,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,1784.0,83.0,29809.076770,2854,13.4518,1.73,1.81
1997-01-01,16,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,2363.0,84.0,26705.478600,2646,17.3034,1.80,1.83
1998-01-01,17,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,2618.0,84.0,27361.875110,3856,1.1913,1.87,1.85
1999-01-01,18,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,3216.0,85.0,27174.297160,3848,15.2049,1.90,1.84
2000-01-01,19,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,3007.0,86.0,24564.458290,2872,15.2110,1.93,1.84
2001-01-01,20,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,2743.0,87.0,24537.514260,3964,12.7722,1.94,1.87
2002-01-01,21,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,3596.0,86.0,26401.745460,4011,15.7365,1.94,1.89
2003-01-01,22,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,3606.0,86.0,32222.897240,6366,21.5985,2.00,1.89
2004-01-01,23,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,3572.0,87.0,36821.521470,9264,29.1708,1.87,1.84
2005-01-01,24,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,2425.0,87.0,38403.133880,11236,39.9562,1.68,1.86
2006-01-01,25,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,2305.0,87.0,40635.281820,14897,57.3724,1.83,1.91
2007-01-01,26,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,4410.0,88.0,46855.771750,14646,60.8319,1.87,1.96
2008-01-01,27,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,4251.0,88.0,51708.765750,13546,17.7294,1.78,1.92
2009-01-01,28,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,4622.0,88.0,47963.179400,10954,28.5067,1.67,1.78
2010-01-01,29,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,4532.0,88.0,46858.043270,11485,32.1598,1.84,1.80
2011-01-01,30,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,4861.0,88.0,51374.958410,12556,19.7786,1.62,1.80
2012-01-01,31,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,5286.0,88.0,48567.695290,14327,25.8989,1.58,1.86
2013-01-01,32,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,5976.0,88.0,50716.708710,15630,27.3611,1.59,1.85
2014-01-01,33,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,6962.0,89.0,51717.495940,10171,21.8985,1.57,1.95
2015-01-01,34,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,7159.0,88.0,44178.047380,6508,25.1637,1.48,1.86
2016-01-01,35,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,10655.0,88.0,45276.831440,7566,30.5830,1.51,1.81
2017-01-01,36,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,13160.0,89.0,47426.511960,7987,36.1055,1.46,1.81
2018-01-01,37,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,12392.0,89.0,51478.285260,6740,25.6654,1.45,1.87
2019-01-01,38,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,13964.0,89.0,50137.662780,7643,29.9046,1.49,1.88

In [5]:
Belgium_df = pd.read_csv("Resources/individual_country_missing/3_Belgium.csv", parse_dates=["year"])
Belgium_df.set_index("year", inplace=True)
Belgium_df_complete = Belgium_df.interpolate(method="time", limit_direction='both')
Belgium_df_complete
# Belgium_df_complete.to_csv("Resources/individual_country_complete/3_Belgium_complete.csv")

,year_id,countries,country_id,regions,region_id,capital,latitude,longitude,fdi_in_usa_million,globalization_100,gdp_per_capita_usd,fdi_by_usa_million,stock_market_capitalization_gdp,government_effectiveness,rule_of_law
year,,,,,,,,,,,,,,,
1982-01-01,1,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,1904,79.0,9343.861100,5549,9.3003,1.71,1.37
1983-01-01,2,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,2261,80.0,8846.234298,5087,12.3635,1.71,1.37
1984-01-01,3,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,2548,81.0,8457.268803,5202,14.8076,1.71,1.37
1985-01-01,4,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,2291,81.0,8750.818513,5619,24.1935,1.71,1.37
1986-01-01,5,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,2487,81.0,12170.040700,5568,31.1091,1.71,1.37
1987-01-01,6,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,3371,80.0,15135.852310,7719,27.8779,1.71,1.37
1988-01-01,7,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,3471,80.0,16391.093830,7830,36.2208,1.71,1.37
1989-01-01,8,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,3799,80.0,16525.061740,7710,45.5947,1.71,1.37
1990-01-01,9,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,3900,80.0,20600.375280,9464,31.8748,1.71,1.37
1991-01-01,10,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,3228,82.0,21041.660650,10611,33.7814,1.71,1.37
1992-01-01,11,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,4165,84.0,23372.619170,11381,27.3041,1.71,1.37
1993-01-01,12,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,3870,84.0,22283.936020,11697,34.6988,1.71,1.37
1994-01-01,13,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,4331,85.0,24208.554790,14714,34.3530,1.71,1.37
1995-01-01,14,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,4397,85.0,28413.826440,18706,35.2129,1.71,1.37
1996-01-01,15,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,4658,85.0,27489.555180,18740,42.5506,1.71,1.37
1997-01-01,16,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,6199,86.0,24820.938050,17337,54.1867,1.78,1.31
1998-01-01,17,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,9929,85.0,25338.443290,17899,94.3950,1.84,1.25
1999-01-01,18,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,11011,86.0,25244.275050,21756,71.3265,1.79,1.30
2000-01-01,19,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,14787,87.0,23041.534730,17973,77.2553,1.73,1.34
2001-01-01,20,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,15623,87.0,22995.157520,22589,70.1116,1.86,1.36
2002-01-01,21,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,9777,86.0,24887.561330,25727,49.6024,1.98,1.37
2003-01-01,22,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,11239,87.0,30587.668410,27415,54.6826,1.93,1.37
2004-01-01,23,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,12581,87.0,35364.375330,41840,74.1438,1.88,1.33
2005-01-01,24,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,10024,87.0,36795.976880,49306,74.8192,1.71,1.27
2006-01-01,25,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,11691,88.0,38672.705940,51862,97.1195,1.75,1.24
2007-01-01,26,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,23471,89.0,44262.896000,62491,81.9760,1.61,1.33
2008-01-01,27,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,23379,89.0,48106.892920,65279,32.4555,1.39,1.35
2009-01-01,28,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,36292,89.0,44583.544810,46610,53.9671,1.57,1.38
2010-01-01,29,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,69565,89.0,44141.878140,43975,55.8739,1.58,1.39
2011-01-01,30,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,78767,89.0,47348.525020,50984,43.8769,1.66,1.42
2012-01-01,31,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,102705,89.0,44673.115880,49144,60.3645,1.60,1.43
2013-01-01,32,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,91413,89.0,46744.662540,51966,71.7590,1.61,1.44
2014-01-01,33,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,97038,90.0,47700.540360,48242,70.7951,1.38,1.52
2015-01-01,34,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,88121,90.0,40991.808140,48096,89.7018,1.44,1.46
2016-01-01,35,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,94462,90.0,41984.103030,49692,79.4856,1.33,1.39
2017-01-01,36,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,76009,90.0,44192.623030,53645,87.0888,1.18,1.34
2018-01-01,37,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,64661,90.0,47583.074940,61271,59.0534,1.17,1.37
2019-01-01,38,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,65918,90.0,46420.663770,63157,59.0534,1.03,1.36

In [6]:
Denmark_df = pd.read_csv("Resources/individual_country_missing/4_Denmark.csv", parse_dates=["year"])
Denmark_df.set_index("year", inplace=True)
Denmark_df_complete = Denmark_df.interpolate(method="time", limit_direction='both')
Denmark_df_complete
# Denmark_df_complete.to_csv("Resources/individual_country_complete/4_Denmark_complete.csv")

,year_id,countries,country_id,regions,region_id,capital,latitude,longitude,fdi_in_usa_million,globalization_100,gdp_per_capita_usd,fdi_by_usa_million,stock_market_capitalization_gdp,government_effectiveness,rule_of_law
year,,,,,,,,,,,,,,,
1982-01-01,1,Denmark,4,Europe,1,København (Copenhagen),55.6759,12.5655,498.0,77.0,11804.43289,1155,9.1790,1.76,1.82
1983-01-01,2,Denmark,4,Europe,1,København (Copenhagen),55.6759,12.5655,498.0,77.0,11857.89214,1275,17.4079,1.76,1.82
1984-01-01,3,Denmark,4,Europe,1,København (Copenhagen),55.6759,12.5655,498.0,77.0,11562.91908,1263,12.8383,1.76,1.82
1985-01-01,4,Denmark,4,Europe,1,København (Copenhagen),55.6759,12.5655,498.0,79.0,12253.10021,1383,24.0930,1.76,1.82
1986-01-01,5,Denmark,4,Europe,1,København (Copenhagen),55.6759,12.5655,498.0,78.0,17201.08881,1164,19.7116,1.76,1.82
1987-01-01,6,Denmark,4,Europe,1,København (Copenhagen),55.6759,12.5655,498.0,78.0,21340.72786,1120,18.5902,1.76,1.82
1988-01-01,7,Denmark,4,Europe,1,København (Copenhagen),55.6759,12.5655,588.0,79.0,22527.04673,1182,23.2655,1.76,1.82
1989-01-01,8,Denmark,4,Europe,1,København (Copenhagen),55.6759,12.5655,656.0,77.0,21901.05475,1454,35.7835,1.76,1.82
1990-01-01,9,Denmark,4,Europe,1,København (Copenhagen),55.6759,12.5655,819.0,78.0,26891.44645,1726,28.2555,1.76,1.82
1991-01-01,10,Denmark,4,Europe,1,København (Copenhagen),55.6759,12.5655,448.0,80.0,27011.37746,1940,32.1728,1.76,1.82
1992-01-01,11,Denmark,4,Europe,1,København (Copenhagen),55.6759,12.5655,571.0,81.0,29569.66036,1676,21.2462,1.76,1.82
1993-01-01,12,Denmark,4,Europe,1,København (Copenhagen),55.6759,12.5655,1110.0,81.0,27597.97523,1735,27.8873,1.76,1.82
1994-01-01,13,Denmark,4,Europe,1,København (Copenhagen),55.6759,12.5655,2429.0,82.0,29995.57962,2030,30.0990,1.76,1.82
1995-01-01,14,Denmark,4,Europe,1,København (Copenhagen),55.6759,12.5655,3444.0,83.0,35351.36546,2161,30.3891,1.76,1.82
1996-01-01,15,Denmark,4,Europe,1,København (Copenhagen),55.6759,12.5655,2626.0,83.0,35650.71409,2554,37.8822,1.76,1.82
1997-01-01,16,Denmark,4,Europe,1,København (Copenhagen),55.6759,12.5655,2858.0,84.0,32835.93994,2385,54.0360,1.87,1.85
1998-01-01,17,Denmark,4,Europe,1,København (Copenhagen),55.6759,12.5655,3294.0,84.0,33368.14242,2764,55.8644,1.98,1.88
1999-01-01,18,Denmark,4,Europe,1,København (Copenhagen),55.6759,12.5655,5215.0,84.0,33440.79481,3846,54.7594,1.98,1.86
2000-01-01,19,Denmark,4,Europe,1,København (Copenhagen),55.6759,12.5655,4025.0,86.0,30743.54768,5270,68.1162,1.98,1.84
2001-01-01,20,Denmark,4,Europe,1,København (Copenhagen),55.6759,12.5655,1857.0,87.0,30751.65435,5160,51.6686,2.03,1.88
2002-01-01,21,Denmark,4,Europe,1,København (Copenhagen),55.6759,12.5655,4215.0,86.0,33228.69354,6184,42.9646,2.09,1.92
2003-01-01,22,Denmark,4,Europe,1,København (Copenhagen),55.6759,12.5655,4531.0,86.0,40458.77740,5597,55.7740,2.15,1.96
2004-01-01,23,Denmark,4,Europe,1,København (Copenhagen),55.6759,12.5655,5064.0,86.0,46511.59833,6815,60.2093,2.31,1.95
2005-01-01,24,Denmark,4,Europe,1,København (Copenhagen),55.6759,12.5655,6117.0,87.0,48799.82560,6914,62.5294,2.12,1.95
2006-01-01,25,Denmark,4,Europe,1,København (Copenhagen),55.6759,12.5655,6726.0,87.0,52026.99951,5849,72.7997,2.23,2.00
2007-01-01,26,Denmark,4,Europe,1,København (Copenhagen),55.6759,12.5655,5761.0,89.0,58487.05497,8950,83.0217,2.35,2.01
2008-01-01,27,Denmark,4,Europe,1,København (Copenhagen),55.6759,12.5655,5537.0,88.0,64322.06350,10481,61.6847,2.25,1.97
2009-01-01,28,Denmark,4,Europe,1,København (Copenhagen),55.6759,12.5655,6806.0,87.0,58163.27688,13053,48.9679,2.23,1.92
2010-01-01,29,Denmark,4,Europe,1,København (Copenhagen),55.6759,12.5655,7772.0,88.0,58041.39844,11802,64.4109,2.10,1.90
2011-01-01,30,Denmark,4,Europe,1,København (Copenhagen),55.6759,12.5655,7470.0,88.0,61753.64713,14942,62.4303,2.10,1.92
2012-01-01,31,Denmark,4,Europe,1,København (Copenhagen),55.6759,12.5655,7732.0,87.0,58507.50805,14306,61.1841,1.98,1.87
2013-01-01,32,Denmark,4,Europe,1,København (Copenhagen),55.6759,12.5655,9913.0,87.0,61191.19370,13397,61.1841,1.99,1.90
2014-01-01,33,Denmark,4,Europe,1,København (Copenhagen),55.6759,12.5655,13322.0,88.0,62548.98473,16497,61.1841,1.82,2.10
2015-01-01,34,Denmark,4,Europe,1,København (Copenhagen),55.6759,12.5655,14509.0,88.0,53254.85637,15794,61.1841,1.85,2.04
2016-01-01,35,Denmark,4,Europe,1,København (Copenhagen),55.6759,12.5655,18920.0,88.0,54663.99837,16909,61.1841,1.88,1.91
2017-01-01,36,Denmark,4,Europe,1,København (Copenhagen),55.6759,12.5655,18617.0,88.0,57610.09818,12107,61.1841,1.80,1.86
2018-01-01,37,Denmark,4,Europe,1,København (Copenhagen),55.6759,12.5655,20654.0,88.0,61598.53670,9498,61.1841,1.87,1.83
2019-01-01,38,Denmark,4,Europe,1,København (Copenhagen),55.6759,12.5655,23870.0,88.0,60170.34264,8992,61.1841,1.94,1.90

In [7]:
Finland_df = pd.read_csv("Resources/individual_country_missing/5_Finland.csv", parse_dates=["year"])
Finland_df.set_index("year", inplace=True)
Finland_df_complete = Finland_df.interpolate(method="time", limit_direction='both')
Finland_df_complete
# Finland_df_complete.to_csv("Resources/individual_country_complete/5_Finland_complete.csv")

,year_id,countries,country_id,regions,region_id,capital,latitude,longitude,fdi_in_usa_million,globalization_100,gdp_per_capita_usd,fdi_by_usa_million,stock_market_capitalization_gdp,government_effectiveness,rule_of_law
year,,,,,,,,,,,,,,,
1982-01-01,1,Finland,5,Europe,1,Helsinki,60.1692,24.9402,295.0,70.0,10938.12206,178,5.2264,1.72,1.91
1983-01-01,2,Finland,5,Europe,1,Helsinki,60.1692,24.9402,295.0,70.0,10497.48000,199,8.1096,1.72,1.91
1984-01-01,3,Finland,5,Europe,1,Helsinki,60.1692,24.9402,295.0,72.0,10833.86629,193,9.2939,1.72,1.91
1985-01-01,4,Finland,5,Europe,1,Helsinki,60.1692,24.9402,295.0,73.0,11398.10595,268,10.4783,1.72,1.91
1986-01-01,5,Finland,5,Europe,1,Helsinki,60.1692,24.9402,295.0,72.0,14951.04679,306,15.9006,1.72,1.91
1987-01-01,6,Finland,5,Europe,1,Helsinki,60.1692,24.9402,295.0,73.0,18571.05993,404,21.8190,1.72,1.91
1988-01-01,7,Finland,5,Europe,1,Helsinki,60.1692,24.9402,452.0,72.0,22047.79332,426,28.0116,1.72,1.91
1989-01-01,8,Finland,5,Europe,1,Helsinki,60.1692,24.9402,1297.0,70.0,23973.23948,485,25.8708,1.72,1.91
1990-01-01,9,Finland,5,Europe,1,Helsinki,60.1692,24.9402,1504.0,71.0,28364.64508,544,16.0645,1.72,1.91
1991-01-01,10,Finland,5,Europe,1,Helsinki,60.1692,24.9402,1416.0,74.0,25484.73929,386,11.1129,1.72,1.91
1992-01-01,11,Finland,5,Europe,1,Helsinki,60.1692,24.9402,1767.0,75.0,22319.05946,343,10.6225,1.72,1.91
1993-01-01,12,Finland,5,Europe,1,Helsinki,60.1692,24.9402,1617.0,77.0,17608.81239,414,26.3687,1.72,1.91
1994-01-01,13,Finland,5,Europe,1,Helsinki,60.1692,24.9402,2016.0,78.0,20301.33309,761,37.0092,1.72,1.91
1995-01-01,14,Finland,5,Europe,1,Helsinki,60.1692,24.9402,2710.0,79.0,26271.59981,965,32.8919,1.72,1.91
1996-01-01,15,Finland,5,Europe,1,Helsinki,60.1692,24.9402,2950.0,80.0,25783.45049,1070,46.4366,1.72,1.91
1997-01-01,16,Finland,5,Europe,1,Helsinki,60.1692,24.9402,3892.0,81.0,24691.87281,1311,58.1538,1.87,1.95
1998-01-01,17,Finland,5,Europe,1,Helsinki,60.1692,24.9402,3949.0,82.0,26009.26949,1628,115.5133,2.02,2.00
1999-01-01,18,Finland,5,Europe,1,Helsinki,60.1692,24.9402,4816.0,82.0,26177.34798,1379,258.3920,2.07,1.99
2000-01-01,19,Finland,5,Europe,1,Helsinki,60.1692,24.9402,8875.0,84.0,24285.46682,1342,233.5870,2.12,1.98
2001-01-01,20,Finland,5,Europe,1,Helsinki,60.1692,24.9402,7620.0,85.0,24946.18919,1686,147.1599,2.14,1.96
2002-01-01,21,Finland,5,Europe,1,Helsinki,60.1692,24.9402,6133.0,84.0,26869.67490,1722,99.3516,2.16,1.94
2003-01-01,22,Finland,5,Europe,1,Helsinki,60.1692,24.9402,5300.0,84.0,32855.13263,1677,99.4266,2.26,2.00
2004-01-01,23,Finland,5,Europe,1,Helsinki,60.1692,24.9402,5639.0,85.0,37702.84538,2208,93.2266,2.17,1.96
2005-01-01,24,Finland,5,Europe,1,Helsinki,60.1692,24.9402,5938.0,84.0,39040.28888,1950,96.4367,2.13,1.96
2006-01-01,25,Finland,5,Europe,1,Helsinki,60.1692,24.9402,7129.0,85.0,41188.09370,2107,110.2650,2.17,1.97
2007-01-01,26,Finland,5,Europe,1,Helsinki,60.1692,24.9402,5308.0,87.0,48414.84509,2202,129.2650,1.97,1.91
2008-01-01,27,Finland,5,Europe,1,Helsinki,60.1692,24.9402,7613.0,87.0,53554.03892,2012,98.8876,2.05,1.92
2009-01-01,28,Finland,5,Europe,1,Helsinki,60.1692,24.9402,5415.0,86.0,47293.99283,1659,47.1516,2.23,1.97
2010-01-01,29,Finland,5,Europe,1,Helsinki,60.1692,24.9402,4943.0,86.0,46459.97325,1597,41.2719,2.23,1.97
2011-01-01,30,Finland,5,Europe,1,Helsinki,60.1692,24.9402,5213.0,86.0,51081.99767,2123,49.0120,2.24,1.95
2012-01-01,31,Finland,5,Europe,1,Helsinki,60.1692,24.9402,6087.0,87.0,47710.79022,2007,57.2164,2.22,1.95
2013-01-01,32,Finland,5,Europe,1,Helsinki,60.1692,24.9402,6852.0,86.0,49878.04324,1919,57.2164,2.17,1.94
2014-01-01,33,Finland,5,Europe,1,Helsinki,60.1692,24.9402,4284.0,87.0,50260.29986,2765,57.2164,2.00,2.10
2015-01-01,34,Finland,5,Europe,1,Helsinki,60.1692,24.9402,6471.0,87.0,42784.69836,1258,57.2164,1.81,2.06
2016-01-01,35,Finland,5,Europe,1,Helsinki,60.1692,24.9402,6118.0,87.0,43784.28396,2538,57.2164,1.83,2.02
2017-01-01,36,Finland,5,Europe,1,Helsinki,60.1692,24.9402,6928.0,88.0,46336.66325,2513,57.2164,1.94,2.03
2018-01-01,37,Finland,5,Europe,1,Helsinki,60.1692,24.9402,14464.0,88.0,50030.87731,3268,57.2164,1.98,2.05
2019-01-01,38,Finland,5,Europe,1,Helsinki,60.1692,24.9402,14826.0,88.0,48782.78848,3745,57.2164,1.93,2.02